vars.env
.env
.vscode

.mypy_cache
.pytest_cache
helpers/__pycache__
helpers/tests/__pycache__
__pycache__
data_for_powerBI.csv
fixed_cats.csv
missing_cats.csv
data_for_powerBI2.csv
toastbot.log
all_to_csv.py
